---
- name: Get currentVersion from URL
  oneview_version_facts:
    config: "{{ config }}" 
  delegate_to: localhost
  when: contents.api_version == ""
  register: version

- name: Print currentVersion if api version is not specified in config file
  set_fact: 
    currentVersion: "{{ version.ansible_facts.version.currentVersion | int }}"
  when: contents.api_version == ""

- name: Print currentVersion if api version is specified in config file
  set_fact: 
    currentVersion: contents.api_version | string
  when: contents.api_version != ""
  
- name: Gather facts about all Storage Volume Templates
  oneview_storage_volume_template_facts:
    config: "{{ config }}"
  delegate_to: localhost

- debug: var=storage_volume_templates

- name: Gather paginated, filtered and sorted facts about Storage Volume Templates
  oneview_storage_volume_template_facts:
    config: "{{ config }}"
    params:
      start: 0
      count: 3
      sort: 'name:descending'
      filter: status='OK'

- debug: var=storage_volume_templates

- name: Gather facts about a Storage Volume Template by name
  oneview_storage_volume_template_facts:
    config: "{{ config }}"
    name: "{{ volume_template_name }}"
  delegate_to: localhost

- debug: var=storage_volume_templates

# Only available after API500
- name: Gather facts about the reachable Storage Volume Templates
  oneview_storage_volume_template_facts:
    config: "{{ config }}"
    options:
      - reachableVolumeTemplates
    params:
      networks: "{{ networks }}"
  delegate_to: localhost
  when: currentVersion >= '500'

- name: Gather facts about Storage Systems compatible to the SVT
  oneview_storage_volume_template_facts:
    config: "{{ config }}"
    name: "{{ volume_template_name }}"
    options:
      - compatibleSystems
  delegate_to: localhost

- debug: var=compatible_systems

# Only available prior to API500
- name: Gather facts about the connectable Storage Volume Templates
  oneview_storage_volume_template_facts:
    config: "{{ config }}"
    name: "{{ volume_template_name }}"
    options:
      - connectableVolumeTemplates
  delegate_to: localhost
  when: currentVersion <= '500'

- debug: var=storage_volume_templates
- debug: var=connectable_volume_templates
