
---
- name: Gather facts about server profile templates
  oneview_server_profile_template_facts:
    config: "{{ config }}"
    name: "{{ spt_name }}"
  delegate_to: localhost
- set_fact:
    spt_uri: "{{ server_profile_templates[0]['uri'] }}"

- name: Gather facts about OS deployment plans
  oneview_os_deployment_plan_facts:
    config: "{{ config }}"
    name: "Basic Deployment Plan"
  delegate_to: localhost
- set_fact:
    dp_uri: "{{ os_deployment_plans[0]['uri'] }}"

- name: Gather facts about hypervisor managers
  oneview_hypervisor_manager_facts:
    config: "{{ config }}"
    name: "{{ hyp_mgr_name }}"
  delegate_to: localhost
- set_fact:
    hyp_mgr_uri: "{{ hypervisor_managers[0]['uri'] }}"

- name: Create a basic Hypervisor Cluster Profile
  oneview_hypervisor_cluster_profile:
    config: "{{ config }}"
    state: present
    data:
      name: "{{ cluster_profile_name }}"
      hypervisorManagerUri: "{{ hyp_mgr_uri }}"
      path: 'DC1'
      hypervisorType: 'Vmware'
      hypervisorHostProfileTemplate:
        serverProfileTemplateUri: "{{ spt_uri }}"
        deploymentPlan:
          deploymentPlanUri: "{{ dp_uri }}"
          serverPassword: 
        hostprefix: 'Test-cluster-host'
  delegate_to: localhost
  register: hyp_cp

# For creating virtual switch layout, enable that param and send the vswitch body under "hypervisorHostProfileTemplate:virtualSwitches"
- name: Create a Hypervisor Cluster Profile with vswitch
  oneview_hypervisor_cluster_profile:
    config: "{{ config }}"
    state: present
    params:
      create_vswitch_layout: True                          # If this is true, virtual switch layout will be created
    data:
      description: "test cluster"
      hypervisorType: "Vmware"
      hypervisorClusterSettings:
        type: "Vmware"
        drsEnabled: True
        haEnabled: False
        multiNicVMotion: False
        virtualSwitchType: "Standard"
      hypervisorHostProfileTemplate:
        serverProfileTemplateUri: "{{ spt_uri }}"
        deploymentPlan:
          deploymentPlanUri: "{{ dp_uri }}"
          serverPassword: "test"
        hostprefix: "Test_cluster_profile_with_vswitch"
        virtualSwitches:                                 # this is the json body used to create vswitch
          serverProfileTemplateUri: "{{ spt_uri }}"
          hypervisorManagerUri: "{{ hyp_mgr_uri }}"
        hostConfigPolicy:
          leaveHostInMaintenance: False
          useHostnameToRegister: False
        virtualSwitchConfigPolicy:
          manageVirtualSwitches: True
          configurePortGroups: True
      name: "{{ cluster_profile_name }}_with_vswitch"
      hypervisorManagerUri: "{{ hyp_mgr_uri }}"
      path: "DC1"

  delegate_to: localhost
  register: hyp_cp_vswitch

- name: Do nothing with the Hypervisor Cluster Profile when no changes are provided
  oneview_hypervisor_cluster_profile:
    config: "{{ config }}"
    state: present
    data:
      name: "{{ cluster_profile_name }}"
      hypervisorManagerUri: "{{ hyp_mgr_uri }}"
      path: 'DC1'
      hypervisorType: 'Vmware'
  delegate_to: localhost

- name: Update the Hypervisor Cluster Profile changing the attribute name
  oneview_hypervisor_cluster_profile:
    config: "{{ config }}"
    state: present
    data:
      name: "{{ cluster_profile_name }}"
      newName: "HCP-renamed"
      hypervisorManagerUri: "{{ hyp_mgr_uri }}"
      path: 'DC1'
      hypervisorType: 'Vmware'
  delegate_to: localhost
  register: hyp_cp

#    - name: Delete the Hypervisor Cluster Profile
#      oneview_hypervisor_cluster_profile:
#        config: "{{ config }}"
#        state: absent
#        params:
#          force: True
#          soft_delete: False
#        data: "{{ hyp_cp.ansible_facts.hypervisor_cluster_profile }}"
#      delegate_to: localhost
#      register: deleted
#
#    - name: Delete the Hypervisor Cluster Profile with vswitch
#      oneview_hypervisor_cluster_profile:
#        config: "{{ config }}"
#        state: absent
#        params:
#          force: False
#          soft_delete: False
#        data: "{{ hyp_cp_vswitch.ansible_facts.hypervisor_cluster_profile }}"
#      delegate_to: localhost
#      register: deleted
#
#    - name: Do nothing when Hypervisor Cluster Profile is absent
#      oneview_hypervisor_cluster_profile:
#        config: "{{ config }}"
#        state: absent
#        data: "{{ hyp_cp.ansible_facts.hypervisor_cluster_profile }}"
#      delegate_to: localhost
#      register: deleted
