---
- name: Fetch Session Id
  oneview_get_session_id:
    config: "{{ config }}"
    name: "Test_Session"
  delegate_to: localhost
  register: session

- debug: var=session

- name: Gather facts about all ID Pools IPV4 Subnets
  oneview_id_pools_ipv4_subnet_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
  delegate_to: localhost

- debug: var=id_pools_ipv4_subnets

- name: Gather paginated, and sorted facts about ID Pools IPV4 Subnets
  oneview_id_pools_ipv4_subnet_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    params:
      start: 0
      count: 3
      sort: 'name:descending'

- debug: var=id_pools_ipv4_subnets

- name: Gather facts about ID Pools IPV4 Subnets by networkId
  oneview_id_pools_ipv4_subnet_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    networkId: "{{ id_pools_ipv4_subnets[0]['networkId'] }}"
  delegate_to: localhost

- name: Gather facts about a ID Pools IPV4 Subnet by name
  oneview_id_pools_ipv4_subnet_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    name: "{{ id_pools_ipv4_subnets[0]['name'] }}"
  delegate_to: localhost

- debug: var=id_pools_ipv4_subnets

- name: Logout Session
  oneview_logout_session:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
  delegate_to: localhost