---
- name: Fetch Session Id
  oneview_get_session_id:
    config: "{{ config }}"
    name: "Test_Session"
  delegate_to: localhost
  register: session

- debug: var=session

- name: Get currentVersion from URL
  oneview_version_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
  delegate_to: localhost
  when: contents.api_version == ""
  register: version

- name: Print currentVersion if api version is not specified in config file
  set_fact: 
    currentVersion: "{{ version.ansible_facts.version.currentVersion | int }}"
  when: contents.api_version == ""

- name: Print currentVersion if api version is specified in config file
  set_fact: 
    currentVersion: contents.api_version | string
  when: contents.api_version != ""

- name: Create a Fibre Channel Network
  oneview_fc_network:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    validate_etag: False
    data:
      name: "{{ item }}"
      fabricType: 'FabricAttach'
      linkStabilityTime: '30'
      autoLoginRedistribution: true
      type: "fc-networkV4"
  delegate_to: localhost
  register: fc_network_1
  with_items:
      - "{{ network_name }}"
      - "{{ network_name }} (1)"
      - "{{ network_name }} (2)"

- name: Do nothing with the Fibre Channel Network when no changes are provided
  oneview_fc_network:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      name: "{{ network_name }}"
      fabricType: 'FabricAttach'
      linkStabilityTime: '30'
      autoLoginRedistribution: true
  delegate_to: localhost

- name: Update the Fibre Channel Network changing the attribute autoLoginRedistribution to True
  oneview_fc_network:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      name: "{{ network_name }}"
      autoLoginRedistribution: False
      fabricType: 'FabricAttach'
      linkStabilityTime: '30'
  delegate_to: localhost
  
# This feature is available only till OneView 3.10
- name: Update the FC Network with two scopes
  oneview_fc_network:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      name: "{{ network_name }}"
      scopeUris: "{{ network_scope_uris }}"
  when: currentVersion >= '300' and currentVersion <= '500'
  delegate_to: localhost

- name: Delete the Fibre Channel Network
  oneview_fc_network:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: absent
    data:
      name: "{{ network_name }}"
  delegate_to: localhost
  register: deleted

- name: Do nothing when Fibre Channel Network is absent
  oneview_fc_network:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: absent
    data:
      name: "{{ network_name }}"
  delegate_to: localhost
  register: deleted

- debug: var=fc_network_1.results[1].ansible_facts.fc_network.uri

# This feature is available only from OneView 5.20
- name: Delete Fibre Channel Networks in bulk
  oneview_fc_network:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: absent
    data:
      networkUris:
        - "{{ fc_network_1.results[1].ansible_facts.fc_network.uri }}"
        - "{{ fc_network_1.results[2].ansible_facts.fc_network.uri }}"
  delegate_to: localhost
  when: currentVersion >= '1600'
