---
- name: Fetch Session Id
  oneview_get_session_id:
    config: "{{ config }}"
    name: "Test_Session"
  delegate_to: localhost
  register: session

- debug: var=session

- name: Get currentVersion from URL
  oneview_version_facts:
    config: "{{ config }}" 
    sessionID: "{{ session.ansible_facts.session }}"
  delegate_to: localhost
  when: contents.api_version == ""
  register: version

- name: Print currentVersion if an apiVersion is not specified in config file
  set_fact: 
    currentVersion: "{{ version.ansible_facts.version.currentVersion | int }}"
  when: contents.api_version == ""

- name: Print currentVersion if api version is specified in config file
  set_fact: 
    currentVersion: contents.api_version | string
  when: contents.api_version != ""
    
- name: Create an Ethernet Network
  oneview_ethernet_network:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      name: '{{ item.name }}'
      vlanId: '{{ item.vlanId }}'
      ethernetNetworkType: Tagged
      purpose: General
      smartLink: false
      privateNetwork: false
      bandwidth:
          maximumBandwidth: 2000
          typicalBandwidth: 1000
  delegate_to: localhost
  with_items:
    - { name: '{{ network_name }}', vlanId: '201' }
    - { name: 'ovsdk_mgmt_nw', vlanId: '202'}

- name: Update the Ethernet Network changing bandwidth and purpose
  oneview_ethernet_network:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      name: '{{ network_name }}'
      purpose: Management
      bandwidth:
          maximumBandwidth: 3000
          typicalBandwidth: 2000
  delegate_to: localhost

- name: Reset to the default network connection template
  oneview_ethernet_network:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: default_bandwidth_reset
    data:
      name: '{{ network_name }}'
  delegate_to: localhost

- name: Ensure ethernet network has no scopes
  oneview_ethernet_network:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      name: "{{ network_name }}"
      scopeUris: []
  when: currentVersion >= '300' and currentVersion <= '500'
  delegate_to: localhost

- name: Ensure Ethernet Network has two scopes
  oneview_ethernet_network:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      name: "{{ network_name }}"
      scopeUris: "{{ network_scope_uris }}"
  when: currentVersion >= '300' and currentVersion <= '500'
  delegate_to: localhost

- name: Rename the Ethernet Network to 'Updated Ethernet Network'
  oneview_ethernet_network:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      name: '{{ network_name }}'
      newName: 'Updated Ethernet Network'
  delegate_to: localhost

- name: Delete the Ethernet Network
  oneview_ethernet_network:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: absent
    data:
      name: 'Updated Ethernet Network'
  delegate_to: localhost
  register: deleted

- name: Create Ethernet Networks in bulk
  oneview_ethernet_network:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      vlanIdRange: '1-3,5,7'
      purpose: General
      namePrefix: TestNetwork
      smartLink: false
      privateNetwork: false
      bandwidth:
          maximumBandwidth: 10000
          typicalBandwidth: 2000
  delegate_to: localhost
  register: bulk_ethernet_create
- debug: msg='{{ethernet_network_bulk | map(attribute='name') | list }}'
- debug: msg='{{ ethernet_network_bulk }}'

- name: Delete Ethernet Networks in bulk
  oneview_ethernet_network:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: absent
    data:
      networkUris: 
        - "{{ ethernet_network_bulk[0].uri }}"
        - "{{ ethernet_network_bulk[1].uri }}"
        - "{{ ethernet_network_bulk[2].uri }}"
        - "{{ ethernet_network_bulk[3].uri }}"
        - "{{ ethernet_network_bulk[4].uri }}"
  delegate_to: localhost
  when: currentVersion >= '1600'

- name: Create Ethernet Networks in bulk for automation
  oneview_ethernet_network:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      vlanIdRange: '1-3,5,7'
      purpose: General
      namePrefix: TestNetwork
      smartLink: false
      privateNetwork: false
      bandwidth:
          maximumBandwidth: 10000
          typicalBandwidth: 2000
  delegate_to: localhost
  register: bulk_ethernet_create
- debug: msg='{{ethernet_network_bulk | map(attribute='name') | list }}'
- debug: msg='{{ ethernet_network_bulk }}'
