---
- name: Fetch Session Id
  oneview_get_session_id:
    config: "{{ config }}"
    name: "Test_Session"
  delegate_to: localhost
  register: session

- debug: var=session

- name: Creates Proxy with HTTP protocol 
  oneview_appliance_proxy_configuration:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      server: "{{ contents.appliance_proxy.server_ip }}"
      port: 8080
      username: "{{ contents.appliance_proxy.username }}"
      password: "{{ contents.appliance_proxy.password }}"
      communicationProtocol: "HTTP"
  delegate_to: localhost
- debug: var=appliance_proxy_configuration

- name: Do nothing when proxy already exists
  oneview_appliance_proxy_configuration:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      server: "{{ contents.appliance_proxy.server_ip }}"
      port: 8080
      username: "{{ contents.appliance_proxy.username }}"
      password: "{{ contents.appliance_proxy.password }}"
      communicationProtocol: "HTTP"
  delegate_to: localhost
- debug: var=appliance_proxy_configuration

- name: Creates proxy with updated username
  oneview_appliance_proxy_configuration:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      server: "{{ contents.appliance_proxy.server_ip }}"
      port: 8080
      username: "testuser"
      password: "{{ contents.appliance_proxy.password }}"
      communicationProtocol: "HTTP"
  delegate_to: localhost
- debug: var=appliance_proxy_configuration

- name: Deletes the configured proxy
  oneview_appliance_proxy_configuration:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: absent
    data:
      server: "{{ contents.appliance_proxy.server_ip }}"
  delegate_to: localhost

- name: Do nothing when proxy already absent
  oneview_appliance_proxy_configuration:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: absent
    data:
      server: "{{ contents.appliance_proxy.server_ip }}"
  delegate_to: localhost

- name: Re-creates Proxy for automation
  oneview_appliance_proxy_configuration:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      server: "{{ contents.appliance_proxy.server_ip }}"
      port: 443
      username: "{{ contents.appliance_proxy.username }}"
      password: "{{ contents.appliance_proxy.password }}"
      communicationProtocol: "HTTP"
  delegate_to: localhost

- name: Logout Session
  oneview_logout_session:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
  delegate_to: localhost
