--- 
- name: Fetch Session Id
  oneview_get_session_id:
    config: "{{ config }}"
    name: "Test_Session"
  delegate_to: localhost
  register: session

- debug: var=session

- name: Gather facts about the last 5 running tasks
  oneview_task_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    params:
      count: 5
      view: "tree"
      filter: ["taskState='Running'", "isCancellable=true"]
  delegate_to: localhost

- debug: var=tasks

- name: Sets the state of task to 'Cancelling'
  oneview_task:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    data:
      name: "{{ tasks[0]['name'] }}"
      uri: "{{ tasks[0]['uri'] }}"
  delegate_to: localhost
  when: config_file.api_version >= 1200 and ( tasks | length > 0 )

- name: Logout Session
  oneview_logout_session:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
  delegate_to: localhost