---
- name: Fetch Session Id
  oneview_get_session_id:
    config: "{{ config }}"
    name: "Test_Session"
  delegate_to: localhost
  register: session

- debug: var=session

- name: Gather facts about a Server Certificate by remote address
  oneview_certificates_server_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    remote: "{{ contents.repositories.remote_server }}"
  delegate_to: localhost

- set_fact:
    certificate: "{{ remote_certificate['certificateDetails'][0]['base64Data'] }}"

#Server Certificate need to be added to appliance for using an Https web server
- name: Create a Server Certificate
  oneview_certificates_server:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    name: "{{ contents.repositories.remote_server }}"
    data:
      certificateDetails:
        - aliasName: "{{ contents.repositories.remote_server }}"
          base64Data: "{{ certificate }}"
  delegate_to: localhost

- name: Create a Repository
  oneview_repositories:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    validate_etag: False
    data:
      name: "{{ contents.repositories.repository_name }}"
      userName: "{{ contents.repositories.repository_username }}"
      password: "{{ contents.repositories.repository_password }}"
      repositoryURI: "{{ contents.repositories.repository_uri }}"
      repositoryType: "FirmwareExternalRepo"
  delegate_to: localhost
  register: repository

- name: Do nothing with the Repository when no changes are provided
  oneview_repositories:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      name: "{{ contents.repositories.repository_name }}"
      userName: "{{ contents.repositories.repository_username }}"
      password: "{{ contents.repositories.repository_password }}"
      repositoryURI: "{{ contents.repositories.repository_uri }}"
      repositoryType: "FirmwareExternalRepo"
  delegate_to: localhost

- wait_for: port=22 host="{{ ansible_host }}" delay=60

- name: Update the attributes of repository resource
  oneview_repositories:
    config: '{{ config }}'
    sessionID: "{{ session.ansible_facts.session }}"
    state: patch
    data:
      name: "{{ contents.repositories.repository_name }}"
      newName: "{{ contents.repositories.repository_name }}-updated"
  delegate_to: localhost

- name: Delete the Repository
  oneview_repositories:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: absent
    data:
      name: "{{ contents.repositories.repository_name }}"
    params:
      force: True
  delegate_to: localhost
  register: deleted

- name: Do nothing when Repository is absent
  oneview_repositories:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: absent
    data:
      name: "{{ contents.repositories.repository_name }}"
  delegate_to: localhost
  register: deleted

- name: Logout Session
  oneview_logout_session:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
  delegate_to: localhost