---
- name: Fetch Session Id
  oneview_get_session_id:
    config: "{{ config }}"
    name: "Test_Session"
  delegate_to: localhost
  register: session

- debug: var=session

- name: Gather facts about the Appliance Network Interfaces
  oneview_appliance_network_interface_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
  delegate_to: localhost
- debug: var=appliance_network_interfaces

- name: Gather facts about the Network Interfaces by Mac Address
  oneview_appliance_network_interface_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    params:
       mac_address: "{{ mac_address }}"
  delegate_to: localhost
- debug: var=appliance_network_interfaces

- name: Gather facts about the all unconfigured Mac Addresses
  oneview_appliance_network_interface_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    options:
       - getAllMacAddress
  delegate_to: localhost
- debug: var=appliance_network_interfaces
