---
- name: Ensure the IPV4 Range '{{ range_name }}' exists
  oneview_id_pools_ipv4_range:
    config: "{{ config }}"
    state: present
    data:
      name: '{{ range_name }}'
      subnetUri: '{{ subnet_uri }}'
      rangeCategory: Custom
      startStopFragments:
        - startAddress: 192.168.1.51
          endAddress: 192.168.1.54
  delegate_to: localhost

- set_fact: uri="{{ id_pools_ipv4_range['uri'] }}"

- name: Update the ID Pools IPV4 Range with end address 101
  oneview_id_pools_ipv4_range:
    config: "{{ config }}"
    state: present
    data:
      name: '{{ range_name }}'
      uri: '{{ uri }}'
      startStopFragments:
        - startAddress: 192.168.1.51
          endAddress: 192.168.1.60
  delegate_to: localhost

- name: Ensure the IPV4 Range is enabled
  oneview_id_pools_ipv4_range:
    config: "{{ config }}"
    state: present
    data:
      name: '{{ range_name }}'
      subnetUri: '{{ subnet_uri }}'
      enabled: True
  delegate_to: localhost

- name: Allocates ID from an IPV4 Range
  oneview_id_pools_ipv4_range:
    config: "{{ config }}"
    state: present
    data:
      uri: "{{ uri }}"
      count: 2
      update_allocator: True
      idList:
        - ""
  delegate_to: localhost

- name: Collects set of ID from an IPV4 Range
  oneview_id_pools_ipv4_range:
    config: "{{ config }}"
    state: present
    data:
      uri: "{{ uri }}"
      update_collector: True
      idList:
        - ""
  delegate_to: localhost


- name: Ensure the IPV4 Range is disabled with DISABLED tag in the name
  oneview_id_pools_ipv4_range:
    config: "{{ config }}"
    state: present
    data:
      name: '{{ range_name }}'
      newName: '{{ disabled_range_name }}'
      subnetUri: '{{ subnet_uri }}'
      enabled: True
  delegate_to: localhost

- name: Delete the ID Pools IPV4 Range
  oneview_id_pools_ipv4_range:
    config: "{{ config }}"
    state: absent
    data:
      name: '{{ disabled_range_name }}'
      subnetUri: '{{ subnet_uri }}'
  delegate_to: localhost

- name: Do nothing when ID Pools IPV4 Range is absent
  oneview_id_pools_ipv4_range:
    config: "{{ config }}"
    state: absent
    data:
      name: '{{ disabled_range_name }}'
      subnetUri: '{{ subnet_uri }}'
  delegate_to: localhost
