---
    - name: Get currentVersion from URL
      oneview_version_facts:
        config: "{{ config }}"
      delegate_to: localhost
      when: contents.api_version|length == 0
      register: version

    - name: Print currentVersion if an apiVersion is not specified in config file
      set_fact:
        currentVersion: "{{ version.ansible_facts.version.currentVersion|int }}"
      when: contents.api_version|length == 0

    - name: Print currentVersion if an apiVersion is specified in config file
      set_fact:
        currentVersion: contents.api_version | string
      when: contents.api_version|length != 0

    - name: Create a FCoE Network
      oneview_fcoe_network:
        config: "{{ config }}"
        state: present
        data:
          name: 'Test FCoE Network'
          vlanId: '201'
      delegate_to: localhost

    - name: Do nothing with the FCoE Network when no changes are provided
      oneview_fcoe_network:
        config: "{{ config }}"
        state: present
        data:
          name: 'Test FCoE Network'
          vlanId: 201
      delegate_to: localhost

    - name: Update the FCoE Network changing the name attribute
      oneview_fcoe_network:
        config: "{{ config }}"
        state: present
        data:
          name: 'Test FCoE Network'
          newName: 'Test FCoE Network - Changed'
          vlanId: 201
      delegate_to: localhost

    # Below task is supported only with OneView 3.10
    - name: Update the FCoE Network with two scopes
      oneview_fcoe_network:
        config: "{{ config }}"
        state: present
        data:
          name: 'Test FCoE Network - Changed'
          scopeUris: "{{ network_scope_uris }}"
      when: currentVersion >= '300' or currentVersion <= '500'
      delegate_to: localhost

    - name: Delete the FCoE Network
      oneview_fcoe_network:
        config: "{{ config }}"
        state: absent
        data:
          name: 'Test FCoE Network - Changed'
      delegate_to: localhost

    - name: Do nothing when FCoE Network is absent
      oneview_fcoe_network:
        config: "{{ config }}"
        state: absent
        data:
          name: 'Test FCoE Network - Changed'
      delegate_to: localhost

    # This feature is available only from OneView 5.20
    - name: Delete FCoE Networks in bulk
      oneview_fcoe_network:
        config: "{{ config }}"
        state: absent
        data:
          networkUris: "{{ networkUris_to_bulkdelete }}"
      delegate_to: localhost
      when: currentVersion >= '1600'
