---
- name: Fetch Session Id
  oneview_get_session_id:
    config: "{{ config }}"
    name: "Test_Session"
  delegate_to: localhost
  register: session

- debug: var=session

- name: Gather facts about all Logical Interconnect Groups
  oneview_logical_interconnect_group_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
  delegate_to: localhost

- debug: var=logical_interconnect_groups

- name: Gather paginated, filtered, and sorted facts about Logical Interconnect Groups
  oneview_logical_interconnect_group_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    params:
      start: 0
      count: 3
      sort: 'name:descending'
      filter: "\"'name'='e11-encl-group logical interconnect group'\""

- debug: var=logical_interconnect_groups

- name: Gather facts about a Scope by name
  oneview_scope_facts:
    config: "{{ config }}"
    name: "{{ contents.scope.scope_name }}"
  delegate_to: localhost

- debug: var=scopes[0]['uri']

- name: Gather facts about Logical Interconnect Group by scope_uris
  oneview_logical_interconnect_group_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    params:
      scope_uris: "{{ scopes[0]['uri'] }}"

- debug: var=logical_interconnect_groups

- name: Gather facts about a Logical Interconnect Group by name
  oneview_logical_interconnect_group_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    name: "LIG"
  delegate_to: localhost

- debug: var=logical_interconnect_groups
