---
- name: Fetch Session Id
  oneview_get_session_id:
    config: "{{ config }}"
    name: "Test_Session"
  delegate_to: localhost
  register: session

- debug: var=session

- name: Get currentVersion from URL
  oneview_version_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
  delegate_to: localhost
  when: contents.api_version == ""
  register: version
  
- name: Create a Hypervisor Manager
  oneview_hypervisor_manager:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      name: "{{ hypervisor_manager_name }}"
      displayName: 'vcenter'
      hypervisorType: 'Vmware'
      username: '{{ hypervisor_manager_username }}'
      password: '{{ hypervisor_manager_password }}'
  delegate_to: localhost
  register: hyp_mgr_1

- name: Do nothing with the Hypervisor Manager when no changes are provided
  oneview_hypervisor_manager:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      name: "{{ hypervisor_manager_name }}"
      displayName: 'vcenter'
      hypervisorType: 'Vmware'
  delegate_to: localhost

- name: Update the Hypervisor Manager changing the attribute displayName
  oneview_hypervisor_manager:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      name: "{{ hypervisor_manager_name }}"
      displayName: 'vcenter renamed'
      hypervisorType: 'Vmware'
      username: '{{ hypervisor_manager_username }}'
      password: '{{ hypervisor_manager_password }}'
  delegate_to: localhost

- name: Delete the Hypervisor Manager
  oneview_hypervisor_manager:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: absent
    data: "{{ hyp_mgr_1.ansible_facts.hypervisor_manager }}"
  delegate_to: localhost
  register: deleted

- name: Do nothing when Hypervisor Manager is absent
  oneview_hypervisor_manager:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: absent
    data: "{{ hyp_mgr_1.ansible_facts.hypervisor_manager }}"
  delegate_to: localhost
  register: deleted

- name: Gather facts about a Server Certificate by remote address
  oneview_certificates_server_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    remote: "{{ hypervisor_manager_name }}"
  delegate_to: localhost

- set_fact:
    certificate: "{{ remote_certificate['certificateDetails'][0]['base64Data'] }}"

- name: Re-create a Server Certificate
  oneview_certificates_server:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    name: "{{ hypervisor_manager_name }}"
    data:
      certificateDetails:
        - aliasName: "{{ hypervisor_manager_name }}"
          base64Data: "{{ certificate }}"
  delegate_to: localhost

- name: Re-create a Hypervisor Manager to ensure continuity for automation script
  oneview_hypervisor_manager:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      name: "{{ hypervisor_manager_name }}"
      displayName: 'vcenter'
      hypervisorType: 'Vmware'
      username: '{{ hypervisor_manager_username }}'
      password: '{{ hypervisor_manager_password }}'
  delegate_to: localhost