---
- name: Fetch Session Id
  oneview_get_session_id:
    config: "{{ config }}"
    name: "Test_Session"
  delegate_to: localhost
  register: session

- name: Create a server profile template
  oneview_server_profile_template:
    config: "{{ config }}"
    state: present
    sessionID: "{{ session.ansible_facts.session }}"
    data:
      name: "{{ item.name }}"
      serverHardwareTypeName: "{{ contents.server_profile_template.server_hardware_type_name }}"
      enclosureGroupName: "{{ contents.server_profile_template.enclosure_group_name }}"
      connectionSettings:
        manageConnections: true
        complianceControl: "Checked"
        connections:
          - id: 1
            name: "mgmt"
            functionType: "Ethernet"
            portId: "Auto"
            requestedMbps: 2000
            networkName: "{{ contents.server_profile_template.connection_network_name }}"
            # networkUri: '/rest/ethernet-networks/f5d68cb6-7766-4662-9774-af461436005d'
    params:
      force: "True" # Supported only for API version >= 600
  delegate_to: localhost
  with_items:
    - { name: '{{ contents.server_profile_template.server_profile_template_name }}' }
    - { name: '{{ contents.server_profile_template.server_profile_template_name }}-1' }

- name: Update bootMode from recently created template
  oneview_server_profile_template:
    config: "{{ config }}"
    state: present
    sessionID: "{{ session.ansible_facts.session }}"
    data:
      name: "{{ contents.server_profile_template.server_profile_template_name }}"
      serverHardwareTypeName: "{{ contents.server_profile_template.server_hardware_type_name }}"
      enclosureGroupName: "{{ contents.server_profile_template.enclosure_group_name }}"
      bootMode:
        manageMode: true
        mode: UEFI
        pxeBootPolicy: Auto
    params:
      force: True # Supprted only for API version >= 600
  delegate_to: localhost

- name: Rename Server Profile Template
  oneview_server_profile_template:
    config: "{{ config }}"
    state: "present"
    sessionID: "{{ session.ansible_facts.session }}"
    data:
      newName: "{{ contents.server_profile_template.server_profile_template_name }}-Updated"
      name: "{{ contents.server_profile_template.server_profile_template_name }}"
  delegate_to: localhost
  register: result

- name: Delete the Server Profile Template
  oneview_server_profile_template:
    config: "{{ config }}"
    state: absent
    sessionID: "{{ session.ansible_facts.session }}"
    data:
      name: "{{ contents.server_profile_template.server_profile_template_name }}-Updated"
    params:
      force: True # Supported only for API version >= 600
  delegate_to: localhost

- name: Do nothing when Server Profile Template is absent
  oneview_server_profile_template:
    config: "{{ config }}"
    state: absent
    sessionID: "{{ session.ansible_facts.session }}"
    data:
      name: "{{ contents.server_profile_template.server_profile_template_name }}-Updated"
  delegate_to: localhost

- name: Logout Session
  oneview_logout_session:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
  delegate_to: localhost