---
- name: Fetch Session Id
  oneview_get_session_id:
    config: "{{ config }}"
    name: "Test_Session"
  delegate_to: localhost
  register: session

- debug: var=session

- name: Get currentVersion from URL
  oneview_version_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
  delegate_to: localhost
  when: config_file.api_version == ""
  register: version

- name: Print currentVersion if an apiVersion is not specified in config file
  set_fact: 
    currentVersion: "{{ version.ansible_facts.version.currentVersion | int }}"
  when: config_file.api_version == ""

- name: Print currentVersion if an apiVersion is specified in config file
  set_fact: 
    currentVersion: config_file.api_version | string
  when: config_file.api_version != ""

# This is POST operation which adds a storage system for management by appliance. 
# An asynchronous task will be created as a result of this API call.
- name: Add a StoreServ Storage System
  oneview_storage_system:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      credentials:
        username: '{{ contents.storage_system.storage_system_username }}'
        password: '{{ contents.storage_system.storage_system_password }}'
      hostname: '{{ contents.storage_system.storage_system_ip }}'
      family: StoreServ
  delegate_to: localhost

# This is PUT operation to update storage system attributes like managed domains and managed pools. 
# This is a one-time only action, after this you cannot change the managed values
- name: Update the Storage System adding one managed pool using name as key
  oneview_storage_system:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      credentials:
        username: '{{ contents.storage_system.storage_system_username }}'
        password: '{{ contents.storage_system.storage_system_password }}'
      name: '{{ contents.storage_system.storage_system_name }}'
      family: StoreServ
      hostname: '{{ contents.storage_system.storage_system_ip }}'
      deviceSpecificAttributes:
          managedDomain: '{{ contents.storage_system.storage_domain }}'
          managedPools:
            - name: CPG-SSD
              deviceType: SSD
              domain: TestDomain
              raidLevel: RAID6
            - name: CPG-SSD-AO
              deviceType: SSD
              domain: TestDomain
              raidLevel: RAID6
            - name: CPG_FC-AO
  delegate_to: localhost

# This is PUT operation to update port configuration by changing expectedNetworkUri. 
# - name: Update the Storage System adding one port using name as key
#   oneview_storage_system:
#     config: "{{ config }}"
#     state: present
#     data:
#         credentials:
#             username: '{{ storage_system_username }}'
#             password: '{{ contents.storage_system_password }}'
#         name: '{{ contents.storage_system_name }}'
#         family: StoreServ
#         hostname: '{{ contents.storage_system_ip }}'
#         ports: 
#           - expectedNetworkUri: '/rest/fc-networks/9141498a-9616-4512-b683-a8848be039c3'
#             name: 0:1:2
#             mode: Managed
      
#   delegate_to: localhost

- name: Remove the storage system by its IP(before API500)
  oneview_storage_system:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    logout: true
    state: absent
    validate_etag: False
    data:
      credentials:
          hostname: '{{ contents.storage_system.storage_system_ip }}'
  delegate_to: localhost
  when: currentVersion < '500'

#    - name: Do nothing when the storage system is already removed (by name) (API500 onwards)
#      oneview_storage_system:
#        config: "{{ config }}"
#        state: absent
#        data:
#            name: '{{ contents.storage_system_name }}'
#      delegate_to: localhost
#      when: currentVersion >= '500'