---
- name: Fetch Session Id
  oneview_get_session_id:
    config: "{{ config }}"
    name: "Test_Session"
  delegate_to: localhost
  register: session

- debug: var=session

- name: Retrieve the Root Storage Volume Template
  oneview_storage_volume_template_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    params:
      start: 0
      count: 1
      sort: 'name:descending'
      filter: isRoot='True'
  delegate_to: localhost

- set_fact: svt_root_uri="{{ storage_volume_templates[0]['uri'] }}"
- debug: var=svt_root_uri

- name: Gather paginated, filtered and sorted facts about Storage Pools
  oneview_storage_pool_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    params:
      start: 0
      count: 3
      sort: 'name:descending'
      filter: status='OK'

- name: Create a Storage Volume Template
  oneview_storage_volume_template:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      name: "{{ contents.storage_volume.volume_template_name }}"
      rootTemplateUri: "{{ svt_root_uri }}"
      properties:
        name:
          meta:
            locked: false
          type: string
          title: Volume name
          required: true
          maxLength: 100
          minLength: 1
          description: A volume name between 1 and 100 characters
        size:
          meta:
            locked: false
            semanticType: capacity
          type: integer
          title: Capacity
          default: 1073741824
          maximum: 17592186044416
          minimum: 268435456
          required: true
          description: The capacity of the volume in bytes
        description:
          meta:
            locked: false
          type: string
          title: Description
          default: ''
          maxLength: 2000
          minLength: 0
          description: A description for the volume
        isShareable:
          meta:
            locked: false
          type: boolean
          title: Is Shareable
          default: false
          description: The shareability of the volume
        storagePool:
          meta:
            locked: false
            createOnly: true
            semanticType: device-storage-pool
          type: string
          title: Storage Pool
          format: x-uri-reference
          required: true
          description: A common provisioning group URI reference
          default: "{{ storage_pools[0]['uri'] }}"
        snapshotPool:
          meta:
            locked: true
            semanticType: device-snapshot-storage-pool
          type: string
          title: Snapshot Pool
          format: x-uri-reference
          default: "{{ storage_pools[0]['uri'] }}"
          description: A URI reference to the common provisioning group used to create snapshots
        provisioningType:
          enum:
          - Thin
          - Full
          - Thin Deduplication
          meta:
            locked: true
            createOnly: true
          type: string
          title: Provisioning Type
          default: Full
          description: The provisioning type for the volume
      description: ''
  delegate_to: localhost

- name: Update a Storage Volume Template provisioning type
  oneview_storage_volume_template:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      name: "{{ contents.storage_volume.volume_template_name }}"
      rootTemplateUri: "{{ svt_root_uri }}"
      properties:
        provisioningType:
          default: Thin
  delegate_to: localhost

- name: Does not update when Storage Volume Template already as expected
  oneview_storage_volume_template:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      name: "{{ contents.storage_volume.volume_template_name }}"
      rootTemplateUri: "{{ svt_root_uri }}"
      properties:
        provisioningType:
          default: Thin
  delegate_to: localhost

# Commenting it to ensure continuity with automation script
# - name: Delete the Storage Volume Template
#   oneview_storage_volume_template:
#     config: "{{ config }}"
#     state: absent
#     data:
#         name: '{{contents.storage_volume.volume_template_name}}'
#   delegate_to: localhost
