---
- name: Get currentVersion from URL
  oneview_version_facts:
    config: "{{ config }}" 
  delegate_to: localhost
  when: contents.api_version == ""
  register: version

- name: Gather facts about a Server Certificate by remote address
  oneview_certificates_server_facts:
    config: "{{ config }}"
    remote: "{{ remote_server }}"
  delegate_to: localhost

- set_fact:
    certificate: "{{ remote_certificate['certificateDetails'][0]['base64Data'] }}"

- name: Create a Server Certificate
  oneview_certificates_server:
    config: "{{ config }}"
    state: present
    name: "{{ remote_server }}"
    data:
      certificateDetails:
        - aliasName: "{{ remote_server }}"
          base64Data: "{{ certificate }}"
  delegate_to: localhost
  register: svr_cert

- name: Do nothing with the Server Certificate when no changes are provided
  oneview_certificates_server:
    config: "{{ config }}"
    state: present
    name: "{{ remote_server }}"
    data:
      category: certificates
  delegate_to: localhost

- name: Update the Server Certificate changing the attribute name
  oneview_certificates_server:
    config: "{{ config }}"
    state: present
    name: "{{ remote_server }}"
    data:
      name: "test"
      certificateDetails:
        - aliasName: "{{ remote_server }}"
          base64Data: "{{ certificate }}"
  delegate_to: localhost

- name: Delete the Server Certificate
  oneview_certificates_server:
    config: "{{ config }}"
    state: absent
    name: "{{ remote_server }}"
    data: "{{ svr_cert.ansible_facts.certificate_server }}"
  delegate_to: localhost
  register: deleted

- name: Do nothing when Server Certificate is absent
  oneview_certificates_server:
    config: "{{ config }}"
    state: absent
    name: "{{ remote_server }}"
    data: "{{ svr_cert.ansible_facts.certificate_server }}"
  delegate_to: localhost
  register: deleted
