---
- name: Fetch Session Id
  oneview_get_session_id:
    config: "{{ config }}"
    name: "Test_Session"
  delegate_to: localhost
  register: session

- debug: var=session

- name: Gather facts about all Storage Systems
  oneview_storage_system_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
  delegate_to: localhost

- debug: var=storage_systems

- name: Gather paginated, filtered and sorted facts about Storage Systems
  oneview_storage_system_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    params:
      start: 0
      count: 3
      sort: 'name:descending'

- debug: var=storage_systems

- name: Gather facts about a Storage System by IP (storage_hostname)
  oneview_storage_system_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    storage_hostname: "{{ contents.storage_system.storage_system_ip }}"
  delegate_to: localhost

- debug: var=storage_systems

- name: Gather facts about a Storage System by IP (hostname)
  oneview_storage_system_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    storage_hostname: "{{ contents.storage_system.storage_system_ip }}"
  delegate_to: localhost

- debug: var=storage_systems

- name: Gather facts about a Storage System by name
  oneview_storage_system_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    name: "{{ contents.storage_system.storage_system_name }}"
  delegate_to: localhost

- debug: var=storage_systems

- name: Gather facts about Storage System - Host Types
  oneview_storage_system_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    options:
        - hostTypes
  delegate_to: localhost

- debug: var=storage_system_host_types

- name: Gather facts about Storage Pools of a Storage System by name
  oneview_storage_system_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    name: "{{ contents.storage_system.storage_system_name }}"
    options:
         storagePools
  delegate_to: localhost

- debug: var=storage_system_pools

- name: Gather facts about all Fibre Channel Networks
  oneview_fc_network_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
  delegate_to: localhost

- debug: var=fc_networks    

- name: Gather queried facts about Storage System reachable ports
  oneview_storage_system_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    storage_hostname: "{{ contents.storage_system.storage_system_ip }}"
    options:
      - reachablePorts:
          networks:
              - fc_networks[0]['uri']
    params:
      sort: 'name:descending'

- debug: var=storage_system_reachable_ports

- name: Gather facts about the Storage System storage templates
  oneview_storage_system_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    storage_hostname: "{{ contents.storage_system.storage_system_ip }}"
    options:
      - templates
    params:
      sort: 'name:descending'

- debug: var=storage_system_templates
