---
- name: Fetch Session Id
  oneview_get_session_id:
    config: "{{ config }}"
    name: "Test_Session"
  delegate_to: localhost
  register: session

- debug: var=session

- name: Get currentVersion from URL
  oneview_version_facts:
    config: "{{ config }}" 
    sessionID: "{{ session.ansible_facts.session }}"
  delegate_to: localhost
  when: contents.api_version == ""
  register: version

- name: Print currentVersion if an apiVersion is not specified in config file
  set_fact: 
    currentVersion: "{{ version.ansible_facts.version.currentVersion|int }}"
  when: contents.api_version == ""

- name: Print currentVersion if an apiVersion is specified in config file
  set_fact: 
    currentVersion: contents.api_version | string
  when: contents.api_version != ""

- name: Gather facts about the storage volume associated with the storage volume attachment
  oneview_volume_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    name: "{{ storage_volume_name }}"
  delegate_to: localhost

- set_fact: volume="{{ storage_volumes[0] }}"

- name: Gather facts about all Storage Volume Attachments
  oneview_storage_volume_attachment_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
  delegate_to: localhost

- debug: var=storage_volume_attachments

- name: Gather paginated, filtered and sorted facts about Storage Volume Attachments
  oneview_storage_volume_attachment_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    params:
      start: 0
      count: 2
      sort: 'name:descending'
      filter: "storageVolumeUri='{{ volume['uri'] }}'"

- debug: var=storage_volume_attachments

- name: Gather facts about a Storage Volume Attachment by Server Profile Name and Volume Uri
  oneview_storage_volume_attachment_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    serverProfileName: "{{ server_profile_name }}"
    storageVolumeUri: "{{ volume['uri'] }}"
  delegate_to: localhost

- debug: var=storage_volume_attachments


- name: Gather facts about extra unmanaged storage volumes
  oneview_storage_volume_attachment_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    options:
      - extraUnmanagedStorageVolumes:
            start: 0
            count: 10
  delegate_to: localhost

- debug: var=storage_volume_attachments
- debug: var=extra_unmanaged_storage_volumes


# NOTE: This is only compatible with API200 and API300
- name: Gather facts about volume attachment paths
  oneview_storage_volume_attachment_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    serverProfileName: "{{ server_profile_name }}"
    storageVolumeName: "{{ storage_volume_name }}"
    options:
      - paths
  delegate_to: localhost
  when: currentVersion == '200' or currentVersion == '300'

- debug: var=storage_volume_attachments
- debug: var=storage_volume_attachment_paths
