---
- name: Fetch Session Id
  oneview_get_session_id:
    config: "{{ config }}"
    name: "Test_Session"
  delegate_to: localhost
  register: session

- debug: var=session

- name: Gather facts about all Scopes
  oneview_scope_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
  delegate_to: localhost

- name: Create a User
  oneview_user:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      userName: "{{ user_name }}"
      password: "myPass1234"
      emailAddress: "{{ email }}"
      enabled: true
      fullName: "testUser101"
      mobilePhone: '555-2121'
      officePhone: '555-1212'
      permissions:
        - roleName: "Read only"
          scopeUri: "{{ scopes[0].uri }}"
        - roleName: "Infrastructure administrator"
          scopeUri: "{{ scopes[0].uri }}"
  delegate_to: localhost
  register: user_1

- name: Do nothing with the User when no changes are provided
  oneview_user:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      userName: "{{ user_name }}"
      emailAddress: "{{ email }}"
      enabled: true
      fullName: "testUser101"
      mobilePhone: '555-2121'
      officePhone: '555-1212'
      permissions:
        - roleName: "Read only"
          scopeUri: "{{ scopes[0].uri }}"
        - roleName: "Infrastructure administrator"
          scopeUri: "{{ scopes[0].uri }}"
  delegate_to: localhost
  register: user_1

- name: Update the User changing the attribute enabled to False
  oneview_user:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      userName: "{{ user_name }}"
      enabled: false
  delegate_to: localhost

- name: Update the User's password
  oneview_user:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      userName: "{{ user_name }}"
      currentPassword: "{{ currentPassword }}"
      newPassword: "{{ password }}"
  delegate_to: localhost

- name: Change the User's password during first-time setup
  oneview_user:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: set_password
    data:
      userName: "{{ user_name }}"
      oldPassword: "{{ oldPassword }}"
      newPassword: "{{ newPassword }}"
  delegate_to: localhost

- name: Adds multiple new local users to the appliance
  oneview_user:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: add_multiple_users
    data:
      users_list:
        - userName: "{{ user_name }}1"
          password: "myPass1234"
          emailAddress: "{{ email }}"
          enabled: true
          fullName: "testUser101"
          mobilePhone: '555-2121'
          officePhone: '555-1212'
          permissions:
            - roleName: "Read only"
            - roleName: "Infrastructure administrator"
        - userName: "{{ user_name }}2"
          password: "myPass1234"
          emailAddress: "{{ email }}"
          enabled: true
          fullName: "testUser101"
          mobilePhone: '555-2121'
          officePhone: '555-1212'
          permissions:
            - roleName: "Read only"
            - roleName: "Infrastructure administrator"

  delegate_to: localhost

- debug: var=user

- name: Validates the existence of a user with the given user name
  oneview_user:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: validate_user_name
    data:
      userName: "testUser"
  delegate_to: localhost

- debug: var=user

- name: Checks for the existence of a user with the specified full name 
  oneview_user:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: validate_full_name
    data:
      fullName: "testUser101"
  delegate_to: localhost

- debug: var=user

- name: Add role to existing username
  oneview_user:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: add_role_to_username
    data:
      userName: "testUser"
      role_list:
        - roleName: "Backup administrator"
        - roleName: "Scope administrator"
  delegate_to: localhost

- debug: var=user

- name: Update role to existing username
  oneview_user:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: update_role_to_username
    data:
      userName: "testUser"
      role_list:
        - roleName: "Infrastructure administrator"
        - roleName: "Read only"
        - roleName: "Scope operator"
  delegate_to: localhost

- debug: var=user

- name: remove role from existing username
  oneview_user:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: remove_role_from_username
    data:
      userName: "testUser"
      role_list: 
        - "Read only"
        - "Scope operator"
  delegate_to: localhost

- debug: var=user

- name: Delete single user
  oneview_user:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: absent
    data:
      userName: "testUser"
  delegate_to: localhost 

- debug: var=user


- name: Delete multiple users
  oneview_user:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: delete_multiple_users
    data:
      users_list:
        - "testUser1"
        - "testUser2"
  delegate_to: localhost

- debug: var=user

- name: Create a User for automation
  oneview_user:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: present
    data:
      userName: "{{ user_name }}"
      password: "myPass1234"
      emailAddress: "{{ email }}"
      enabled: true
      fullName: "testUser101"
      mobilePhone: '555-2121'
      officePhone: '555-1212'
      permissions:
        - roleName: "Read only"
        - roleName: "Infrastructure administrator"
  delegate_to: localhost
  register: user_1