name: Upload release to Galaxy

on:
  release:
    types: [created]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v1

    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: '3.6'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ansible

    - name: Setup environment for collection publish
      run: |
        echo "GITHUB_REF=${GITHUB_REF:10}" >> $GITHUB_ENV

    - name: Build and publish
      run: |
        ansible-galaxy collection build .
        ansible-galaxy collection publish hpe-oneview-${{ env.GITHUB_REF }}.tar.gz --api-key="${{ secrets.GALAXY_API_TOKEN }}"

    - name: Login to Docker Hub
      run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Build the tagged Docker image
      run: docker build . --file Dockerfile --tag hewlettpackardenterprise/hpe-oneview-sdk-for-ansible-collection:${{ env.GITHUB_REF }}-OV5.6

    - name: Push the tagged Docker image
      run: docker push hewlettpackardenterprise/hpe-oneview-sdk-for-ansible-collection:${{ env.GITHUB_REF }}-OV5.6
