---
- name: Fetch Session Id
  oneview_get_session_id:
    config: "{{ config }}"
    name: "Test_Session"
  delegate_to: localhost
  register: session

- name: Gather facts about all Scopes
  oneview_scope_facts:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
  delegate_to: localhost

- name: Create a Server Profile from a Server Profile Template
  oneview_server_profile:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    data:
      serverProfileTemplateName: "{{ contents.server_profile.ov_template }}"
      name: "{{ contents.server_profile.inventory_hostname }}"
      description: "{{ contents.server_profile.server_profile_description }}"
      # User should set initialScopeUris in case of scoped user
      # Otherwise collects scopeUris from OV when its not given
      # explicitly
      initialScopeUris:
        - "{{ scopes[0].uri }}"
    params: # Supported only in API version >= 600
      force: True
  delegate_to: localhost
  register: result

- debug: msg= "{{ result.msg }}"

- debug: var=server_profile
- debug: var=serial_number
- debug: var=server_hardware
- debug: var=compliance_preview
- debug: var=created

- name: Power Off the server hardware
  oneview_server_hardware:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    state: power_state_set
    data:
        name: "{{ contents.server_profile.server_hardware_name }}"
        powerStateData:
            powerState: "Off"
            powerControl: "MomentaryPress"
  delegate_to: localhost

- name: Create a server profile with iLO/Bios configuration
  oneview_server_profile:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    data:
      name: "{{ contents.server_profile.inventory_hostname }}-2"
      serverHardwareTypeName: "{{ contents.server_profile.server_hardware_type_name }}"
      enclosureGroupName: "{{ contents.server_profile.enclosure_group_name }}"
      description: "{{ contents.server_profile.server_profile_description }}"
      bios:
        manageBios: true
        overriddenSettings: []
      managementProcessor:
        manageMp: true
        mpSettings:
          - settingType: "LocalAccounts"
            args:
              localAccounts:
                - userName: "user1"
                  displayName: "One"
                  password: "asdfghjkl"
                  iLOConfigPriv: false
                  userConfigPriv: false
                  remoteConsolePriv: false
                  virtualMediaPriv: true
                  virtualPowerAndResetPriv: false
  delegate_to: localhost

- name: Update server profile with local storage configuration
  oneview_server_profile:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    data:
      name: "{{ contents.server_profile.inventory_hostname }}-2"
      serverHardwareTypeName: "{{ contents.server_profile.server_hardware_type_name }}"
      enclosureGroupName: "{{ contents.server_profile.enclosure_group_name }}"
      description: "{{ contents.server_profile.server_profile_description }}"
      localStorage:
        controllers:
          - deviceSlot: "Embedded"
            driveWriteCache: "Unmanaged"
            importConfiguration: false
            mode: "RAID"
            initialize: true
            logicalDrives:
              - accelerator: "Unmanaged"
                bootable: false
                driveTechnology: null
                name: "logicaldrive1"
                numPhysicalDrives: 2
                raidLevel: "RAID1"
                readCachePolicy: "Unmanaged"
                sasLogicalJBODId: null
                writeCachePolicy: "Unmanaged"
        sasLogicalJBODs: []
  delegate_to: localhost

- name: Create a Server Profile with connections
  oneview_server_profile:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    data:
      name: "{{ contents.server_profile.inventory_hostname }}-with-connections"
      serverHardwareTypeName: "{{ contents.server_profile.server_hardware_type_name }}"
      enclosureGroupName: "{{ contents.server_profile.enclosure_group_name }}"
      connectionSettings:  # Supported only in API version >= 600.
        connections:
          - id: 1
            name: connection1
            functionType: Ethernet
            portId: Auto
            requestedMbps: 2000
            networkName: "{{ contents.server_profile.network_name }}"
  delegate_to: localhost

- debug: msg=server_profile

- name: Update Server Profile with boot configuration
  oneview_server_profile:
    config: "{{ config }}"
    state: "present"
    sessionID: "{{ session.ansible_facts.session }}"
    data:
      name: "{{ contents.server_profile.inventory_hostname }}"
      # affinity: "BayAndServer"
      bootMode:
        manageMode: True
        mode: "UEFI"
        pxeBootPolicy: "Auto"
      boot: 
        manageBoot: true
        order: ["HardDisk"]
  delegate_to: localhost
  register: result

- name: Rename Server Profile
  oneview_server_profile:
    config: "{{ config }}"
    state: "present"
    sessionID: "{{ session.ansible_facts.session }}"
    data:
      newName: "{{ contents.server_profile.inventory_hostname }}-updated"
      name: "{{ contents.server_profile.inventory_hostname }}"
  delegate_to: localhost
  register: result

- debug: msg=result.msg

- debug: var=server_profile

- name: Remediate compliance issues
  oneview_server_profile:
    config: "{{ config }}"
    state: "compliant"
    sessionID: "{{ session.ansible_facts.session }}"
    data:
      name: "{{ contents.server_profile.inventory_hostname }}-updated"
  delegate_to: localhost
  register: result

- debug: msg=result.msg

- name: Delete the Server Profile created from a Server Profile Template
  oneview_server_profile:
    config: "{{ config }}"
    state: "absent"
    sessionID: "{{ session.ansible_facts.session }}"
    data:
      name: "{{ contents.server_profile.inventory_hostname }}-updated"
  delegate_to: localhost
  register: result

- debug: msg=result.msg

- name: Delete the Server Profile created with connections
  oneview_server_profile:
    config: "{{ config }}"
    state: "absent"
    sessionID: "{{ session.ansible_facts.session }}"
    data:
      name: "{{ contents.server_profile.inventory_hostname }}-with-connections"
  delegate_to: localhost

- debug: msg=result.msg

- name: Create Server Profile without specifying a template
  oneview_server_profile:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    data:
      name: "{{ contents.server_profile.inventory_hostname }}"
      serverHardwareTypeName: "{{ contents.server_profile.server_hardware_type_name }}"
      enclosureGroupName: "{{ contents.server_profile.enclosure_group_name }}"
      description: "{{ contents.server_profile.server_profile_description }}"
  delegate_to: localhost

- debug: var=server_profile

- name: Unassign Server Hardware from Server Profile
  oneview_server_profile:
    config: "{{ config }}"
    sessionID: "{{ session.ansible_facts.session }}"
    # This is required for unassigning a SH, or creating a SP and not auto-assigning a SH
    auto_assign_server_hardware: False
    data:
      name: "{{ contents.server_profile.inventory_hostname }}"
      # Specify a blank serverHardwareName or serverHardwareUri when auto_assign_server_hardware is False to unassign a SH
      serverHardwareName:
  delegate_to: localhost

- name: Delete the Server Profile
  oneview_server_profile:
    config: "{{ config }}"
    state: "absent"
    sessionID: "{{ session.ansible_facts.session }}"
    data:
      name: "{{ contents.server_profile.inventory_hostname }}"
  delegate_to: localhost
- debug: var=inventory_hostname

- name: Create a Server Profile from a Server Profile Template
  oneview_server_profile:
    config: "{{ config }}"
    data:
      serverProfileTemplateName: "{{ contents.server_profile.ov_template }}"
      name: "{{ contents.server_profile.inventory_hostname }}"
      description: "{{ contents.server_profile.server_profile_description }}"
      enclosureGroupName: "{{ contents.server_profile.enclosure_group_name }}"
      # User should set initialScopeUris in case of scoped user
      # Otherwise collects scopeUris from OV when its not given
      # explicitly
      initialScopeUris:
        - "{{ scopes[0].uri }}"
    params: # Supported only in API version >= 600
      force: True
  delegate_to: localhost
  register: result